<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card>
                <!-- <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input> 
                     <input matInput placeholder="Filtre por DNI" #input (keyup)="search(input.value)" >
                </mat-form-field> -->
                
                <mat-form-field appearance="fill">
                    <mat-select (selectionChange)="onChange($event)">
                      <mat-option value="firmadas">Check-In Firmados</mat-option>
                      <mat-option value="nofirmadas">Check-In No Firmados</mat-option>
                    </mat-select>
                  </mat-form-field>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="Titular">
                            <th mat-header-cell *matHeaderCellDef> DNI Titular </th>
                            <td mat-cell *matCellDef="let element"> {{element.titular.documento}} </td>
                        </ng-container>

                        <ng-container matColumnDef="NomApe">
                            <th mat-header-cell *matHeaderCellDef> Nombre y Apellido </th>
                            <td mat-cell *matCellDef="let element"> {{element.titular.apellido}}, {{element.titular.nombre}}  </td>
                        </ng-container>

                        <ng-container matColumnDef="fechaLlegada">
                            <th mat-header-cell *matHeaderCellDef> Fecha LLegada </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaLlegada | date: 'dd/MM/yyyy'}} </td>
                        </ng-container>


                        <ng-container matColumnDef="fechaSalida">
                            <th mat-header-cell *matHeaderCellDef> Fecha Salida </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaSalida | date: 'dd/MM/yyyy'}} </td>
                        </ng-container>


                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element; let pasajero" >

                                <button mat-raised-button color="primary" (click)="selectedReserva(element)">Ver</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr> -->

                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>

            </mat-card>
        </div>
    </div>
</div>