canvas
{
    border: 1px solid rgb(0, 0, 0)
}
.boton{
    color: white;
    background-color: black;
}
.tarjeta{
    margin: auto; 
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    max-width: 70vh;
    background-color: rgb(201 65 69 / 67%);
}

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo{
    background-image: url(src/assets/img/LobbyHotel.png);
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size:cover;
}