<div class="card">
    <div class="esencial">
        <b>Martinez Laura, 444.444.444</b>
    </div>
<div class="fila">
    <img class="mx-2" src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/2AYDKWFWUBG7VNZ24CJVPHHOWI.jpg" width="250" alt="">
    <div class="fechas ">
        <p><b class="mx-1">Llegada: </b>  25/02 <br> <b class="mx-1">Salida: </b> 2/03</p>
        <p> <b class="mx-1"> telefono:</b>  +54 9 3885219555</p>
   <p><b class="mx-1"> email:</b>   blablabla@gmail.com</p>
        <p> Argentina, Jujuy, guatemala 547</p>
    </div> 
    
    
</div>


<div class="notas">
    <b>Notas:</b> <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse atque delectus ex totam, inventore veritatis eius similique fugiat nulla reiciendis tempora ad dicta corrupti, nemo minima quidem fugit dolorum autem!
</div>

<div class="datos my-2"> 
 Llega en auto, Limpieza cuando se solicite
</div>
<a class="btn btn-secondary btn-sm btn-sig" href="/sign" role="button">Firmar</a>
</div>


<!-- <div *ngIf="desp">
    <br/>
    <canvas #sigPad width="300" height="150" (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"></canvas>
    <br/>
    <button (click)="clear()">clear</button>
    <button (click)="save()">save</button>
    <br/>
    <img [src]="img">
    <br/>
    <span>{{img}}</span>`,
</div> -->
