<div class="card">
    <div class="esencial">
        <b>Martinez Laura, 444.444.444</b>
    </div>
<div class="fila">
    <img class="mx-2" src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/2AYDKWFWUBG7VNZ24CJVPHHOWI.jpg" width="280" alt="">
    <div class="fechas ">
        <p><b>Llegada: </b>  25/02 <b class="ml-2"> email:</b>   blablabla@gmail.com</p>
        <p><b>Salida: </b> 2/03 <b class="ml-2"> telefono:</b>  +54 9 3885219555</p>
        <p> Argentina, Jujuy, guatemala 547</p>
    </div> 
    
    
</div>


<div class="notas">
    <b>Notas:</b> <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse atque delectus ex totam, inventore veritatis eius similique fugiat nulla reiciendis tempora ad dicta corrupti, nemo minima quidem fugit dolorum autem!
</div>

<div class="datos my-1"> 
 Llega en auto, Limpieza cuando se solicite
</div>
<a class="btn btn-secondary btn-sm btn-sig" href="#" role="button">Firmar</a>
</div>
