<div class="card">
    <h5 class="card-header">{{pData.titular.apellido}}, {{pData.titular.nombre}}</h5>
    <div class="card-body">
        <div class="row content">
            <div class="col">
                <img class="dni" onclick="javascript:this.width=450;this.height=338" ondblclick="javascript:this.width=250;this.height=160" src="{{pData.titular.documentacion}}" width="250"/>
            </div>
            <div class="col">
                <p>Contacto</p>
                <hr class="separador"/>
                <h5>Telefono: {{pData.titular.telefono}}</h5>
                <h5>Email: {{pData.titular.email}}</h5>
                <p>Fechas</p>
                <hr class="separador"/>
                <h5>Entrada: {{pData.fechaLlegada | date: 'dd/MM/yyyy' }}</h5>
                <h5>Salida: {{pData.fechaSalida | date: 'dd/MM/yyyy' }}</h5>
            </div>
        </div>
        <br>
        <p>Extra</p>
        <hr class="separador"/>
        <h5 class="card-text">
            Notas: {{pData.notas}}
        </h5>
        <h5>Frecuencia de Limpieza: {{pData.frecuenciaLimpieza}}</h5>
        <p>Acompañantes</p>
        <hr class="separador"/>
        <h5 *ngIf="pData.nroacompanantes > 0">Cantidad de personas: {{pData.nroacompanantes}}</h5>
        <h5 *ngIf="pData.nroacompanantes == 0">No se registraron acompañantes</h5>

                <div class="accordion accordion-flush" *ngIf="pData.nroacompanantes > 0">
                    <div class="accordion-item">
                      <p class="accordion-header">
                        <button class="accordion-button collapsed" id="acordion" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Información Acompañantes
                        </button>
                    </p>
                      <div *ngFor="let a of acomp" id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5>Nombre: {{a.apellido}}, {{a.nombre}}</h5>
                            <h5>DNI: {{a.documento}}</h5>
                            <hr style="max-width: 95%;">
                        </div>
                      </div>
                    </div>
                </div>

          <br>
          <p>Firma del Titular</p>
          <hr class="separador"/>
          <div class="firma">
            <img src="{{pData.firma}}" width="250"/>
          </div>
          
    </div>
    <div class="d-flex justify-content-center mb-3" *ngIf="!pData.firma">
        <button type="button" class="btn btn-secondary btn-sm btn-sig" (click)="firmarReserva(pData)" role="button">Firmar</button>
    </div>
</div>