*{
  margin:0;
  padding: 0; 
  box-sizing: border-box;
}

.fichaContainer{
    display: flex; 
    width: 800px;
    height: auto;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.2);
    padding: 20px;
} 

.imagen{
    width: 250px;
    height: 250px;
    border-right: 1px solid #0000;
    padding: 20px; 
}

/* .card-body{
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    padding: 0 20px;
  }

  @media print {
    .no-imprimir {
      visibility: hidden;
    }
    
  }