<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    <br>
    <div class="loading-message">Cargando</div>
  </div>
  <div *ngIf="!isLoading">
<div class="impresion">
    <div class="izquierda">
        <mat-card>
            <mat-card-content>
                <!-- datos titular -->
                <div class="p-2 bd-highlight" id="img-container">
                    <img *ngIf="reservaSeleccionada.titular.documentacion != '' " class="imagen"
                        src="{{reservaSeleccionada.titular.documentacion}}" alt="">
                </div>
                <h3 class="card-title, text-center">Datos del Titular</h3>
                <hr class="separador" />
                <h4 class="card-subtitle mb-2 text-muted">{{reservaSeleccionada.titular.nombre}}
                    {{reservaSeleccionada.titular.apellido}}</h4>
                <h4 class="card-subtitle mb-2 text-muted ">DNI: {{reservaSeleccionada.titular.documento}}
                </h4>
                <h4 class="card-subtitle mb-2 text-muted">Correo: {{reservaSeleccionada.titular.email}}</h4>
                <h4 class="card-subtitle mb-2 text-muted">Telefono: {{reservaSeleccionada.titular.telefono}}
                </h4>
                <h3 class="card-title, text-center">Domicilio</h3>
                <hr class="separador" />
                <h4 class="card-subtitle mb-2 text-muted">Calle, numero:
                    {{reservaSeleccionada.titular.direccion.calle}}</h4>
                <h4 class="card-subtitle mb-2 text-muted">Ciudad:
                    {{reservaSeleccionada.titular.direccion.ciudad}}</h4>
                <h4 class="card-subtitle mb-2 text-muted">Provincia:
                    {{reservaSeleccionada.titular.direccion.region}}</h4>
                <h4 class="card-subtitle mb-2 text-muted">Pais:
                    {{reservaSeleccionada.titular.direccion.pais}}</h4>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="derecha">
        <mat-card>
            <mat-card-content>
                <!-- datos reserva -->
                <h3 class="card-title, text-center">Datos de Reserva </h3>
                <hr class="separador" />
                <div>
                    <h4 class="card-text text-muted">Fecha de Llegada: {{reservaSeleccionada.fechaLlegada | date:
                        'dd/MM/yyyy'}}</h4>
                    <h4 class="card-text text-muted">Fecha de Salida: {{reservaSeleccionada.fechaSalida | date:
                        'dd/MM/yyyy'}}</h4>
                    <h4 class="card-text text-muted">Hora de Llegada: {{reservaSeleccionada.horaLLegada}}</h4>
                    <h4 class="card-text text-muted">Medio de Tansporte: {{reservaSeleccionada.medioTransporte}}</h4>
                    <h4 class="card-text text-muted">Frecuencia de Limpieza: {{reservaSeleccionada.frecuenciaLimpieza}}
                    </h4>
                    <h4 class="card-text text-muted">Notas: {{reservaSeleccionada.notas}}</h4>
                    <h4 *ngIf="reservaSeleccionada.nroacompanantes > 0" class="card-text text-muted">Cantidad de
                        Acompañantes: {{reservaSeleccionada.nroacompanantes}}
                    </h4>
                    <div *ngIf="reservaSeleccionada.medioTransporte == 'vehiculo'">
                        <h3 class="card-title, text-center">Datos del Vehiculo</h3>
                        <hr class="separador" />
                        <h4 class="card-text text-muted">Modelo: {{reservaSeleccionada.vehiculo.modelo}}</h4>
                        <h4 class="card-text text-muted">Patente: {{reservaSeleccionada.vehiculo.patente}}</h4>
                        <h4 class="card-text text-muted">Color: {{reservaSeleccionada.vehiculo.color}}</h4>
                        <h4 class="card-text text-muted">Marca: {{reservaSeleccionada.vehiculo.marca}}</h4>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- <div class="abajo-firma" *ngIf="most==true">
    <div *ngIf="reservaSeleccionada.firma != undefined ">
        <h3 class="card-title">Firma del titular</h3>
        <img class="imagen" src="{{reservaSeleccionada.firma}}" alt="" >
    </div>
</div> -->
<div class="abajo">
    <mat-card *ngIf="reservaSeleccionada.nroacompanantes > 0" style="width: 90%;">
        <mat-card-content>
            <div *ngIf="reservaSeleccionada.nroAcompanantes != 0">
                <h3 class="card-title, text-center">Informacion de Acompañantes</h3>
                <hr class="separador">

                <div class="abajo-hijo" *ngFor="let acom of reservaSeleccionada.acompanantes">
                    <div class="left">
                        <h4 class="card-subtitle mb-2 text-muted">Nombre y Apellido: {{acom.nombre}}
                            {{acom.apellido}}</h4>
                        <h4 class="card-subtitle mb-2 text-muted">Documento o Pasaporte: {{acom.documento}}</h4>
                    </div>
                    <div class="right">
                        <div *ngIf="acom.documentacion != ''">
                            <div class="p-2 bd-highlight" id="img-container">
                                <img class="imagen" src="{{acom.documentacion}}" alt="">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="abajo-btn">
    <div class="p-2 bd-highlight" id="img-container">
        <button mat-raised-button (click)="imprimirDetalles()" class="no-imprimir">Imprimir</button>
        <!-- <a class="btn btn-secondary btn-sm btn-sig" (click)="imprimirDetalles()" role="button" *ngIf="most==false">Imprimir</a>                -->
    </div>
</div></div>