<app-header class="no-imprimir"></app-header><br><br>
<div class="container">
    <div class="fichaContainer" style="position: relative;">
        <h2 class="text-center">Detalles de la reserva</h2>  
        <div class="card" style="width:19rem;">
            <img class="imagen, card-img-top" src="{{reservaSeleccionada.titular.documentacion}}" alt="" >
        <div class="card-body">
            <h3 class="card-title, text-center" styles="font-weight: bolder;">Titular: {{reservaSeleccionada.titular.nombre}} {{reservaSeleccionada.titular.apellido}}</h3>
            <h4 class="card-subtitle mb-2 text-center text-muted ">DNI: {{reservaSeleccionada.titular.documento}}</h4>
            <h4 class="card-subtitle mb-2 text-center ">Contactos: </h4>
            <p class="card-text text-center text-muted">{{reservaSeleccionada.titular.telefono}}</p>
            <p class="card-text text-center text-muted">{{reservaSeleccionada.titular.email}}</p>

            <a class="btn btn-secondary btn-sm btn-sig" style="margin-right: 5%; margin-left: 37%;"
             (click)="imprimirDetalles()" role="button">Imprimir</a>
        </div>
        </div>
    </div>
</div>
