<div class="body">
    <div class="login">
    <img src="https://cdn-icons-png.flaticon.com/512/6522/6522516.png" width="50%" height="80%">
    <!-- <h1 class="h3 mb-3 fw-normal">Login</h1> -->
    <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <button mat-raised-button>Iniciar sesión</button>
</div>
</div>

