<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://www.jotform.com/uploads/kreaticaconsultora/form_files/logo%20rj.63fb83fef31028.06575593.png" alt=""  height="36">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Check in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Check in Firmados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" disabled >Habitaciones</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
