<app-header></app-header>
<main class="mainCointainer">
    <h3>Check In realizados</h3>
    
    <form class="d-flex">
      <input class="form-control me-1" type="search" placeholder="Busqueda por dni" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Fecha Llegada</th>
            <th scope="col">Fecha Salida</th>
            <th scope="col">Nombre y apellido</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let check of muestra">
            <th scope="row">{{check.DNI}}</th>
            <td>{{ check.FechaLLegada}}</td>
            <td>{{ check.FechaSalida}}</td>
            <td>{{check.nombre}} {{check.apellido}}</td>
            <td><a (click)="open()" class="btn btn-primary btn-sm " href="#" role="button">Ver</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"> <a class="btn btn-primary btn-sm mx-2" href="#" role="button"><--</a> <a class="btn btn-primary btn-sm mx-2" href="#" role="button">--></a></td>
            
          </tr>
        
        </tbody>
      </table>
</main>
