.mainCointainer{
    color: aliceblue;
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.table{
    padding-left: 10%;
    padding-right: 10%;
}
.d-flex{
    width: 30%;
}
.modal-content{
   background-color:#fff0 !important;  
}
:root, .modal {
    --bs-body-bg:#fff0;
}
.modal{
    --bs-modal-bg: #fff0;
}
.modal-content{
    background-color: #fff0 !important;
}